$purple : #581acc;
$bg_30: rgba(255, 255, 255, .3);



$d1440-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$small-tablet-width: 580px;
$mobile-large: 425px;

// Responsive
@mixin desktop {
    @media (max-width: #{$d1440-width}) {
        @content;
    }
}

@mixin smalldesktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}


@mixin smalltablet {
    @media (max-width: #{$small-tablet-width}) {
        @content;
    }
}


@mixin mobilelarge {
    @media (max-width: #{$mobile-large}) {
        @content;
    }
}